@import url("bootstrap.css");
*{
    box-sizing: border-box;

}

.container-fluid{
    padding-top: 30px;
    padding-bottom: 30px;
}
body {
    margin: 0;
    background: #fff;
   /* white-space: nowrap;*/
}

ul ul{
    list-style: inherit;

}

ul li{
   /* white-space: normal;*/
}

li a{
   /* white-space: inherit;*/
}

p{
    /*white-space: normal;*/

}

.vertical-center{
    vertical-align: middle;
    display: inline-block;

}
.phone-list{
    color: #22b6f7;

}

.phone-list__item{
    text-align: left;
}

.phone-list__item::before, .phone-list__item::after{
    color: #000000;
}

.phone-list__item_kiev::before{
    content: "(044) ";

}

.phone-list__item_kiev::after{
    content: " Киев";

}

.phone-list__item_kyivstar::before{
    content: "(098) ";

}

.phone-list__item_kyivstar::after{

    content: " Киевстар";


}

header p{
   /* text-align: center;*/
  /*  text-transform: uppercase;*/
}

.row-blue{
    background-color: #03a9f4;
}

.row-aque{
    background-color: #e1f5fe;
}

.footer-main{
    background-color: #444f5d;
}

.footer-main ul>li{
    vertical-align: top;

}

#main-section{
    /*padding: 2rem;*/
    color: #fff;

}

.content-header, .content-main, .content-footer, .main-header{
    margin: 2rem 0;
}

.content-main{
    margin-bottom: 6rem;

}

#main-section .btn-success{
    width: 43%;
    background-color: #a7d41e;
}



/*html, body, section, .container, .container-fluid, .row, .col-xs-3, .col-xs-6, .col-xs-9{

    height: 100%;

}*/

#slider img{
    padding-left: 0;
    padding-right: 0;
}