@import url("bootstrap.css");
*{
    box-sizing: border-box;

}

body {
    margin: 0;
    background: #fff;
  /*  white-space: nowrap;*/
}

ul ul{
    list-style: inherit;

}

ul li{
    white-space: normal;
}

li a{
    white-space: inherit;
}

p{
    white-space: normal;

}

.vertical-center{
    vertical-align: middle;
    display: inline-block;

}
.phone-number{
    color: #22b6f7;

}

.phone-number-kiev{

}

.phone-number-kyivstar{

}

.phone-number-kiev::before{
    content: "(044) ";
    color: #000;
}

.phone-number-kiev::after{
    content: " Киев";
    color: #000;
}

.phone-number-kyivstar::before{
    content: "(098) ";
    color: #000;
}

.phone-number-kyivstar::after{

    content: " Киевстар";
    color: #000;

}

header p{
   /* text-align: center;*/
  /*  text-transform: uppercase;*/
}

.row-blue{
    background-color: #03a9f4;
}

.row-aque{
    background-color: #e1f5fe;
}

.footer-main{
    background-color: #444f5d;
}

.footer-main ul>li{
    vertical-align: top;

}

#main-section{
    /*padding: 2rem;*/
    color: #fff;

}

.content-header, .content-main, .content-footer, .main-header{
    /*margin: 2rem 0;*/
}

.content-main{
    /*margin-bottom: 6rem;*/

}

.marginned{
    margin: 2rem 0;

}

.marginned-bttm{

    margin-bottom: 6rem;
}

.btn-success{
    width: 43%;
    background-color: #a7d41e;
    border: 0;
    -webkit-box-shadow:  1px 1px 2px #0390d0;
    -moz-box-shadow:  1px 1px 2px #0390d0;
    box-shadow:  1px 1px 2px #0390d0;
}

header .btn-success{
    width: 100%;
    -webkit-box-shadow: 1px 1px 2px #d9d9d9;
    -moz-box-shadow: 1px 1px 2px #d9d9d9;
    box-shadow: 1px 1px 2px #d9d9d9;
}




/*html, body, section, .container, .container-fluid, .row, .col-xs-3, .col-xs-6, .col-xs-9{

    height: 100%;

}*/